<ion-header>
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Item con boton cancelar y searchbar -->
  <ion-item class="input_Ion-item">
      <button ion-button full (click)="dismissModal()" class="button1" text-center margin>
        Cancelar X
      </button>
    <ion-searchbar placeholder="Alumno" (ionInput)="getAlumnos($event)"></ion-searchbar>
  </ion-item>
  <!-- List con botones de alumnos generados      *ngFor="let key of alumnos.keys(objs)"  {{key}} ; {{objs[key] | json}}-->
  <ion-list>
    <button  *ngFor="let alumno of alumnos" ion-button full (click)="setAlumno(alumno)" class="selectAlumno" text-center margin>
        {{alumno.NombreApellido}}
    </button>
  </ion-list>
</ion-content>
