<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "bg-style">
    <ion-card class= "form">
      <form (ngSubmit)="logForm()">

        <ion-card-title>Formulario para comprobante </ion-card-title>

        <ion-item class="input_Ion-item">
          <ion-card-subtitle class="nombre_campo">Fecha: </ion-card-subtitle>
          <ion-input class="form_input" type="date" [(ngModel)]="form.date" name="date" displayFormat="DD MM YYYY" pickerFormat="DD/MM/YYYY"></ion-input> 
        </ion-item>

        <ion-item class="input_Ion-item">
          <ion-card-subtitle class="nombre_campo">Nombre: </ion-card-subtitle>
          <ion-input class="form_input" type="text" [(ngModel)]="form.name" name="name" maxlength="35"></ion-input>
        </ion-item>

        <ion-item class="input_Ion-item">
            <ion-card-subtitle class="nombre_campo">Mes Abonado: </ion-card-subtitle>
          <input class="form_input , list" list="meses"  [(ngModel)]="form.mes" name="mes">
          <datalist id="meses">
            <option value="Enero">
            <option value="Febrero">
            <option value="Marzo">
            <option value="Abril">
            <option value="Mayo">
            <option value="Junio">
            <option value="Julio">
            <option value="Agosto">
            <option value="Septiembre">
            <option value="Octubre">
            <option value="Noviembre">
            <option value="Diciembre">
          </datalist>
        </ion-item>

        <ion-item class="input_Ion-item">
          <ion-card-subtitle class="nombre_campo">Recargo: </ion-card-subtitle>
          <input class="form_input , list" list="si_no"  [(ngModel)]="form.recargo" name="recargo">
          <datalist id="si_no">
            <option value="Si"> </option>
            <option value="No" selected="selected"> </option>
          </datalist>
        </ion-item>

        

        <ion-item class="input_Ion-item">
            <ion-card-subtitle class="nombre_campo">Monto: </ion-card-subtitle>
            $<ion-input class="form_input" type="number" [(ngModel)]="form.monto" name="monto"></ion-input>
        </ion-item>

        <button ion-button full (click)="createPdf()" class="button" text-center margin>Generar PDF</button>
        

      </form>
    </ion-card>
    
  
</ion-content>
