<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "bg-style">
    <ion-card class= "form">
      <form>

        <ion-card-title>Formulario para comprobante </ion-card-title>

        <ion-item class="input_Ion-item">
          <ion-card-subtitle class="nombre_campo">Fecha: </ion-card-subtitle>
          <ion-input class="form_input" type="date" [(ngModel)]="form.date" name="date" displayFormat="DD MM YYYY" pickerFormat="DD/MM/YYYY"></ion-input> 
        </ion-item>

        <ion-item class="input_Ion-item">
          <ion-card-subtitle class="nombre_campo">Nombre: </ion-card-subtitle>
          <ion-input class="form_input" type="text" [(ngModel)]="form.name" name="name" maxlength="35"></ion-input>
        </ion-item>
        
        <!--
        <ion-item class="input_Ion-item">
            <ion-card-subtitle class="nombre_campo">Mes Abonado: </ion-card-subtitle>
          <input class="form_input , list" list="meses"  [(ngModel)]="form.mes" name="mes" maxlength="12">
          <datalist id="meses">
            <option value="Enero">
            <option value="Febrero">
            <option value="Marzo">
            <option value="Abril">
            <option value="Mayo">
            <option value="Junio">
            <option value="Julio">
            <option value="Agosto">
            <option value="Septiembre">
            <option value="Octubre">
            <option value="Noviembre">
            <option value="Diciembre">
          </datalist>
        </ion-item>
        -->

        <ion-item class="input_Ion-item">
          <ion-label class="nombre_campo">Mes Abonado:</ion-label>
          <ion-select class="form_input , list"  [(ngModel)]="form.mes" name="mes" [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Seleccionar">
            <ion-select-option value="Enero">Enero</ion-select-option>
            <ion-select-option value="Febrero">Febrero</ion-select-option>
            <ion-select-option value="Marzo">Marzo</ion-select-option>
            <ion-select-option value="Abril">Abril</ion-select-option>
            <ion-select-option value="Mayo">Mayo</ion-select-option>
            <ion-select-option value="Junio">Junio</ion-select-option>
            <ion-select-option value="Julio">Julio</ion-select-option>
            <ion-select-option value="Agosto">Agosto</ion-select-option>
            <ion-select-option value="Septiembre">Septiembre</ion-select-option>
            <ion-select-option value="Octubre">Octubre</ion-select-option>
            <ion-select-option value="Noviembre">Noviembre</ion-select-option>
            <ion-select-option value="Diciembre">Diciembre</ion-select-option>
          </ion-select>
        </ion-item>

        <!--
        <ion-item class="input_Ion-item">
          <ion-card-subtitle class="nombre_campo">Recargo: </ion-card-subtitle>
          <input class="form_input , list" list="si_no"  [(ngModel)]="form.recargo" name="recargo">
          <datalist id="si_no">
            <option value="Si"> </option>
            <option value="No" selected="selected"> </option>
          </datalist>
        </ion-item>
        -->

        <ion-item class="input_Ion-item">
          <ion-label class="nombre_campo">Recargo:</ion-label>
          <ion-select class="form_input , list" [(ngModel)]="form.recargo" name="recargo" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Si/No">
            <ion-select-option value="Si">Si</ion-select-option>
            <ion-select-option value="No" selected="selected">No</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="input_Ion-item">
            <ion-card-subtitle class="nombre_campo">Monto: </ion-card-subtitle>
            $<ion-input class="form_input"  type="number" min="2" max="9" [(ngModel)]="form.monto" name="monto" maxlength="9" clearInput (ngModelChange)="change($event)"></ion-input>
        </ion-item>

        <button ion-button full (click)="subirDatos()" class="button" text-center margin>Generar PDF</button>
        

      </form>
    </ion-card>
    
  
</ion-content>
