<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>ver-alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-label class="nombre_campo">Lunes:</ion-label>
      <ion-item *ngFor="let alumno of alumnos">
        <button ion-button full class="selectAlumno" text-center margin (click)="VerDatosAlumno(alumno)">
            {{alumno.nombre}}
        </button>
    </ion-item>
    <!--
    <ion-label class="nombre_campo">Martes:</ion-label>
    <ion-item *ngFor="let alumnoMartes of alumnosMartes">
        <button ion-button full class="selectAlumno" text-center margin>
            {{alumnoMartes.nombre}}
        </button>
    </ion-item>
    -->
  </ion-list>

</ion-content>
