<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>ver-alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <!-- Selector para filtar los alumnos segun clase que asisten -->
    Filtro:
    <ion-select value="Todos" class="form_input" [(ngModel)]="filtroAlumnos" name="filtro" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Filtro" (ionChange)="FiltrarAlumnosClases()">
      <ion-select-option value="Todos">Todos</ion-select-option>
      <ion-select-option value="Lunes">Lunes</ion-select-option>
      <ion-select-option value="Martes">Martes</ion-select-option>
      <ion-select-option value="Miercoles">Miercoles</ion-select-option>
      <ion-select-option value="Jueves">Jueves</ion-select-option>
      <ion-select-option value="Viernes">Viernes</ion-select-option>
      <ion-select-option value="Sabado">Sabado</ion-select-option>
    </ion-select>

    <!-- Alumnos a mostrar -->
    <ion-label class="nombre_campo">Alumnos:</ion-label>
    <ion-item *ngFor="let alumno of alumnos">
      <button ion-button full class="selectAlumno" text-center margin (click)="VerDatosAlumno(alumno)">
          {{alumno.NombreApellido}}
      </button>
    </ion-item>
  </ion-list>

</ion-content>
