// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.nombre_campo {
    text-align: left;
    font-size: 95%;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(17, 15, 15);
    text-shadow: 0 1px 2px rgba(black,.15);
    padding-right: 10px;
    /*
    width: 40px;
    height: 40px;
    --background:grey;
    */
  }

.subtitleBox{
    //background-color: grey;
}

.bg-style {
    --background:#1d87f3;
}

.form{
    vertical-align: center;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    --background:#68b0f8cc;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.form_input{
    //--background: cadetblue;
    font-size: 95%;
}

.input_Ion-item{
    //padding: 10px;
    margin: 7px;

}

.formList{
    width: 30%;
    height: 80%;
    font-size: 80%;
}

.button1{
    color: #fff !important;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    align-self: center;
    align-items: center;
    margin: 0 auto;
    }

.buttonAlumno{
    color: #fff !important;
    background: cadetblue;
    height: 10%;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    align-self: center;
    align-items: center;
    margin: 0 auto;
    
}